<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 设置根日志级别 -->
    <root level="INFO">
        <!-- 配置日志输出目的地 -->
        <appender-ref ref="Console" />
        <appender-ref ref="FileAppender" />
    </root>

    <!-- 控制台输出配置 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 自定义日志输出格式 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 错误日志输出到文件 -->
    <appender name="FileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs/error.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>  <!-- 只记录 ERROR 级别及以上的日志 -->
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>